doctype html
html
  head
    title NESS - An Open Source Finances Platform
    link(rel="stylesheet" href="/css/stock.css" type="text/css")/
  body
    h1 The concept of TW0050
    div
      table
        thread
          tr
            th 資料時間
            th 昨收
            th 開盤價
            th 今日最高
            th 今日最低
            th 最近成交價
            th 漲停點
            th 跌停點
            th 當日累計成交量
            th 當盤成交量
            th 最佳五檔買入價格
            th 最佳五檔買入數量
            th 最佳五檔賣出價格
            th 最價五檔賣出數量
        tbody
          each record in records
            tr
              td=record.t
              td=record.y
              td=record.o
              td=record.h
              td=record.l
              td=record.z
              td=record.u
              td=record.w
              td=record.v
              td=record.tv
              td=record.b
              td=record.g
              td=record.a
              td=record.f
